db.sqlite3
migrations/
*.pyc
*.pdf
*.pyo

*.jpg
*.gif
*.png
*.svg
*.ico

*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm

*.wav
*.mp3
*.wma

*.log
scripts/
datadumps/
screenlog.conf

*.sh
*.json
settings.py
