{% load static %}

<div class="container">

</div>
<br />
<div class="copyright ">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - No Rights reserved with Marc Stocker</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="http://bills.dynu.com">Working Bill Website</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
