{% load static %}
<div class="container">
   <div class="row">
      <div class="span3">
         <div class="col-md-2">
         </div>
      </div>
      <div class="span12">
         <div class="col-md-8">
            <img srcimg src="{% static "images/headerbanner.png" %}"></img>
         </div>
      </div>
   </div>
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="nav navbar-nav">
            <li class="active">
               <a class="navbar-brand" href="{% url 'homepageapp:home'%}">
                  <img alt="brand" src="{% static "images/homeicon.png" %}" />
               </a>
            </li>
            <li>
               <a href="/utilities/">Utilities</a>
            </li>
            <li>
               <a href="/ious/">IOUs</a>
               <!-- <a href="/ious/">IOUs</a> -->
            </li>
            <li>
               <a href="#">Chores</a>
               <!-- <a href="/chores/">Chores</a> -->
            </li>
         </div>
         <ul class="nav navbar-nav navbar-right">
            <li>
               {% if user.is_authenticated %}
               <button type="button" class="btn btn-lg" style="background-color:#000000"><a href="#" roll="button">{{ user.username }}</a></button>
               {% endif %}
            </li>
            <li>
               {% if user.is_superuser %}
               <!-- Single Button -->
               <div class="btn-group">
                  <button type="button" class="btn btn-success btn-lg"><a href="/admin/" roll="button" style="color: #ffffff">Admin</a></button>
                  <button type="button" class="btn btn-primary btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                     <li>
                        <a href="{% url 'billing:addlease' %}">Add a new Lease/House</a>
                     </li>
                     <li>
                        <a href="{% url 'billing:addroommate' %}">Add a Roommate to House X</a>
                     </li>
                     <li role="separator" class="divider "> </li>
                     <li>
                        <a href="#">Add a Utility Type</a>
                     </li>
                     <li>
                        <a href="{% url 'billing:addbill' %}">Add a Utility Bill to House X</a>
                     </li>
                     <li role="separator" class="divider "> </li>
                     <li>
                        <a href="{% url 'billing:adduserpayment' %}">Add a User Payment</a>
                     </li>
                     <li>
                        <a href="{% url 'billing:addbillpayment' %}">Add a Bill Payment</a>
                     </li>
                     <li role="separator" class="divider "> </li>
                     <li>
                        <a href="{% url 'billing:admintablepage' %}">View all Tables</a>
                     </li>
                     <li>
                       <a href ="{% url 'billing:emailusers' %}">Email All Users</a>
                     </li>
                     <li role="separator" class="divider "> </li>
                     <li role="separator" class="divider "> </li>
                     <li>
                       <a href="{% url 'billing:deleteallbills' %}" style="color:#e00b0b; background-color:#370f00">DELETE ALL BILLS</a>
                     </li>
                  </ul>
               </div>
               {% endif %}
            </li>
            <li class="active">
               {% if user.is_authenticated %}
               <a href="/logout/">Logout  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
               {% else %}
               <a href="/login/">Login  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
               {% endif %}
            </li>
         </ul>
      </div>
   </nav>
</div>
