{% extends "billingsite/base.html" %}
{% load static %}
{% block title %} {{ page_name }} {% endblock title %}


{% block content %}
<div class="column"> <!-- BEING Div Column -->
   <div class="col-lg-6 col-lg-centered col-md-6 col-md-centered col-md-offset-3">
      <div class="row">
         <div class="col-lg-12">
            <form method="post" action="" enctype="multipart/form-data" runat="server">
               {% csrf_token %}
               <h1 class="text-center">Add a new Bill</h1>
               {{ form.errors }}
               <div class="row">
                  <div class="col-lg-6 col-sm-6 col-lg-left col-sm-left">
                     <div class="form-group">
                        <label>
                           {{ form.utilType.label_tag }}<br />
                           {{ form.utilType }}
                        </label>
                     </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-lg-right col-sm-right">
                     <div class="form-group">
                        <label>
                           <label for="id_amount">Amount:</label><br />
                           <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <input id="id_amount" name="amount" step="0.01" type="text" class="form-control" placeholder="123.45"required />
                           </div>
                        </label>
                     </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-lg-left col-smj-left">
                     <div class="form-group">
                        <label>
                           {{ form.statementDate.label_tag }}<br />
                           {{ form.statementDate }}
                        </label>
                     </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-lg-right col-sm-right">
                     <div class="form-group">
                        <label>
                           {{ form.dueDate.label_tag }}<br />
                           {{ form.dueDate }}
                        </label>
                     </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-lg-left col-sm-left">
                     <div class="form-group">
                        <label>
                           {{ form.datepaid.label_tag }}<br />
                           {{ form.datepaid }}
                        </label>
                     </div>
                  </div>
                  <!-- TODO: Add PDF upload for Bills -->
                  <div class="col-lg-6 col-sm-6 col-lg-left col-sm-right">
                     <div class="form-group">
                        {{ form.billdoc.label_tag }}<br />
                        {{ form.billdoc }}
                     </div>
                  </div>
               </div>
            </div>
            <input type="submit" class="btn btn-lg btn-group btn-success btn-block" value="Submit Bill" />
         </form>
         <form action="/utilities/">
            <input type="submit" class="btn btn-group btn-danger btn-block" value="Cancel"/>
         </form>
      </div>
   </div>
</div> <!-- END size 12 column -->
   <script>
      $(document).ready(function() {
         $('.datepicker').datepicker();
      });
   </script>
{% endblock %}
