{% extends "billingsite/base.html" %}
{% load static %}
{% block title %} Roommate Bills {% endblock title %}


{% block content %}
<div class="column"> <!-- BEING Div Column -->
   <div class="col-lg-12 col-md-12 col-sm-12 row"> <!-- size 12 column begin -->
      <div class="col-lg-2 large-left col-md-2 medium-left sidebar"> <!-- Left Div Begin -->
      </div>
      <div class="col-lg-10 large-right col-md-10 medium-centered small-centered columns main"> <!-- Tab Div 10 Begin -->
         <div>
            <h1>Utilities for: {{ house.name }}</h1>
         </div>
      </div>
      {# Info on left of page #}
      <div class="col-lg-2 large-left col-md-2 medium-left sidebar"> <!-- Left Div Begin -->
         <ul class="nav nav-pills nav-stacked">
            <li class="active text-center">
               <a href="#">Overview<span class="badge">42</span></a>
            </li>
            <li class="active text-center">
               <a href="/utilities/test">Test</a>
            </li>
            <li class="active text-center">
               <a href="/utilities/addBill/">Add Utility Bill</a>
            </li>
            <li class="active text-center">
               <a href="/utilities/addUserPayment/">Add User Payment</a>
            </li>
            <li class="active text-center">
               <a href="/utilities/addUtilityBillPayment/">Add Utility Payment</a>
            </li>
         </ul>
      </div> <!-- Left Div END -->
      {# Info on right of page #}
      {# Tab selection #}
      <div class="col-lg-10 large-right col-md-10 medium-centered small-centered columns main"> <!-- Tab Div 10 Begin -->
         <!-- Tab Selection ul -->
         <ul class="nav nav-tabs">
            {% if totmoney > 0 %}
            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview <span class="badge">$+{{ totmoney }}</span></a></li>
            {% elif totmoney == 0 %}
            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview <span class="badge">${{ totmoney }}</span></a></li>
            {% else %}
            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview <span class="badge">${{ totmoney }}</span></a></li>
            {% endif %}

            <li role="presentation"><a href="#debts" aria-controls="debts" role="tab" data-toggle="tab">Debts <span class="badge btn-danger">${{ curuser_debt }}</span></a></li>
            <li role="presentation"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab">Collections <span class="badge btn-success">${{ curuser_collect }}</span></a></li>
         </ul>
         <!-- END Tab Selection ul -->
         <div class="tab-content"> <!-- BEGIN Tab Panes Div -->
            <div role="tabpanel" class="tab-pane fade in active .panelcust" id="overview">
               <h2><u>Percentage of bills paid by roommates</u></h2>
               <div class="row">
                  {% for key, values in my_roommatespaid.items %}
                  <div class="col-xs-4 col-md-3 ">
                     <h3>{{ key }}</h3>
                     <div class="test-circle" data-percent="{{ values }}" title="Percent Paid for {{ key }}" description="Percent Paid"></div>
                  </div>
                  {% endfor %}
               </div>
               <hr />
               <!-- Overview Table -->
                  <div class="panel panel-default panel-inverted col-xs-4 col-md-4"  style="background-color:#252424">
                     <h2>Payment Overview</h2>
                     <table class="table table-inverted table-bordered ">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Owed</th>
                              <th>Paid</th>
                              <th>Total Left</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for roommate in my_roommates %}
                           <tr>
                              <td>{{ roommate.name }}</td>
                              <td>${{ roommate.getTotDebt }}</td>
                              <td>${{ roommate.getTotPaid }}</td>
                              <td>${{ roommate.getTotRemaining }}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
               </div>
               <!-- BEGIN Last 5 Bills -->
                  <div class="panel panel-default panel-invert col-xs-6 col-md-6 col-sm-offset-1" style="background-color:#252424">
                     <h2>Last 5 Utility Bills</h2>
                     <table class="table table-inverted table-bordered">
                        <thead>
                           <tr>
                              <th>Utility</th>
                              <th>Amount</th>
                              <th>Date Due</th>
                              <th>Owner</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for bill in last5bills %}
                           <tr>
                              <td>{{ bill.utilType.name }}</td>
                              <td>${{ bill.amount }}</td>
                              <td>{{ bill.dueDate }}</td>
                              <td>{{ bill.owner.name }}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
               </div>
               <!-- END 5 Bills -->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="debts">
               <h2>Debts: Money you Owe to Others.</h2>
               <!-- {% for key, values in roommates_iowe %} -->
               <!-- <div class="col-xs-4 col-md-3"> -->
               <!-- <h3>Data</h3> -->
               <!-- <h3>{{ key }}</h3> -->
               <!-- {% if values == 1 %} -->
               <!-- <img src="{% static "/images/graph50.png" %}" alt="..."> -->
               <!-- </div> -->
               <!-- {% endif %} -->
               <!-- {% endfor %} -->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="collections">
               <h2>Collections: What others owe you.</h2>
               <div class="col-xs-4 col-md-3">
                  <h3>Edgar</h3>
                  <img src="{% static "/images/circlegraph.png" %}" alt="...">
               </div>
               <div class="col-xs-4 col-md-3">
                  <h3>John</h3>
                  <img src="{% static "/images/circlegraph.png" %}" alt="...">
               </div>
               <div class="col-xs-4 col-md-3">
                  <h3>Dom</h3>
                  <img src="{% static "/images/graph50.png" %}" alt="...">
               </div>
            </div> <!-- END Tab Panes Div -->
         </div> <!-- Tab div 10 END -->
      </div> <!-- Size 12 Column END -->
   </div> <!-- END Dic Column -->
   {% endblock %}
   <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
