{% extends "billingsite/base.html" %}
{% load static %}
{% block title %} Add User Payment {% endblock title %}


{% block content %}
<div class="column"> <!-- BEING Div Column -->
	{% if roommates_iowe %}
	<div class="panel panel-default panel-inverted col-xs-4 col-md-4" style="background-color:#252424; display:none">
		<table id="ioweTable" class="table table-inverted">
			<thead>
				<tr>
					<th> </th>
					<th>Total Owed</th>
				</tr>
			</thead>
			<tbody>
				{% for key, values in roommates_iowe.items %}
				<tr>
					<th>{{key}} </th>
					<td>{{ values.2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!--Extra Graph to show current standing of roommates -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="{% static "/js/highcharts/dark-unica-neg.js" %}"></script>
	<div class="col-xs-12 col-md-12 col-md-left">
		<div id="IoweOverview" style="min-width: 310px; max-width: 1000px; height:   200px; margin: 0 auto;"></div>
	</div>
	<script src="{% static "/js/highcharts/ioweOverview.js" %}"></script>
	{% else %}
	<hr />
	<h1 style="text-align: center;"><mark style="background-color:#09a636; color:#450a6a;">You do not owe money to anyone for Utilities!</mark></h1>
	{% endif %}
	<div class="col-lg-6 col-lg-centered col-md-6 col-md-centered col-md-offset-3">
		<div class="row">
			<div class="col-lg-12">
				<form method="post" action="" enctype="multipart/form-data" runat="server">
					{% csrf_token %}
					<h1 class="text-center">Add a new User Payment</h1>
					{{ form.errors }}
					<div class="row">
						<span>
							<select name="al1" id="val1">
								<option value="">Select a value</option>
								<option value="foo">foo</option>
								<option value="bar">bar</option>
							</select>
							<input name="al2" id="val2" />
							<input name="al3" id="val3" />
							<input name="al4" id="val4" />
							<a href="" id="finalURL">Click Here!</a>
						</span>
					</div>
					<input type="submit" class="btn btn-lg btn-group btn-success btn-block" value="Submit Payment" />
				</form>
				<form action="/utilities/">
					<input type="submit" class="btn btn-group btn-danger btn-block" value="Cancel"/>
				</form>
			</div>
		</div>
	</div>
</div> <!-- END Div Column -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'myjs/helloworld.js' %}"></script>
{% endblock %}
